/*Containers*/
.container-p{
    height: 100vh;
    width: 100vw;
    position: absolute;
    max-width: 1000px;
    background: #ffffff;
    padding: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; /* 5% from the top, 15% from the bottom and centered */
}

@media screen and (max-width: 500px) {
    .container-p{
        padding: 10px;
    }
}

.container-p .forms{
    height: 100%;
    width: 100%;
    padding-top: 50px;
    background: #ffffff;
}

@media screen and (max-width: 500px) {
    .container-p .forms{
        padding-top: 2px;
    }
}

.container-p .form-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}

@media screen and (max-width: 500px) {
    .container-p .form-content{
        width: 100%;
        padding: 0px;
    }
}

/*seat or parking spot*/
.seat{
    background-color: #30a860;
    background-repeat: no-repeat;
    border: 3px solid black;
    flex-direction: column;
    text-align: center;
    line-height: 100px;
    height: 150px;
    width: 90px;
    margin: 6px;
}

@media screen and (max-width: 500px) {
    .seat{
        height: 110px;
        width: 50px;
        line-height: 55px;
        border: 2px solid black;
        margin: 2px;
    }
}

@media screen and (max-width: 380px) {
    .seat{
        height: 110px;
        width: 35px;
        line-height: 55px;
        border: 2px solid black;
        margin: 2px;
    }
}

.seat a {
    font-size: 18px;
    color: white;
    font-weight: 300;
    vertical-align: -30px;
}

@media screen and (max-width: 500px) {
    .seat a{
        font-size: 12px;
    }
}

@media screen and (max-width: 380px) {
    .seat a{
        font-size: 11px;
    }
}

.row1 {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(2,minmax(215px,auto));
    border-spacing: 0;
    border-collapse: collapse;
    object-fit: fill;
    margin: auto;
}

@media screen and (max-width: 500px) {
    .row1{
        grid-template-rows: repeat(2,minmax(160px,auto));
        padding: 0 0px;
        justify-content: center;
    }
}

.movie-container{
    margin: 20px 0;
}

.movie-container select{
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.seat.reserved {
    background-image: url('../images/car-yellow.png');
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid black;
}

@media screen and (max-width: 500px) {
    .seat.reserved{
        border: 2px solid black;
    }
}

.seat.occupied{
    background-image: url('../images/car_blue.png');
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid black;
}

@media screen and (max-width: 500px) {
    .seat.occupied{
        border: 2px solid black;
    }
}

.seat.pwd{
    background-image: url('../images/handicap.png');
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid black;
}

@media screen and (max-width: 500px) {
    .seat.pwd{
        border: 2px solid black;
    }
}

.seat.padding{
    cursor: default;
    transform: none;
    background-color: transparent;
    border: transparent;
}

.seat:not(.reserved):hover{
    cursor: default;
    transform: scale(1.1);
}

.seat:hover{
    cursor: default;
    transform: scale(1.1);
}

.seat:not(.padding):hover{
    transform: scale(1.1);
    cursor: default;
}

.showcase .seat:not(.reserved):hover{
    cursor: default;
    transform: scale(1);
}

.showcase{
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .showcase{
        padding: 10px 5px;
    }
}

.showcase li{
    display: flex;
    margin: 0px 10px ;
}

@media screen and (max-width: 500px) {
    .showcase li{
        margin: 0px 3px;
    }
}

.showcase li small{
    margin-left: 5px;
}

@media screen and (max-width: 500px) {
    .showcase li small{ 
        margin-left: 2px;
    }
}

.showcase2{
    background-color: #f4f4f4;
    display: grid;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    max-width: 100%;
}



/*building or reference*/
.screen {
    background-color: #c8c8cb;
    height: 120px;
    max-width: 100%;
    margin: 25px 160px;
    line-height: 120px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    box-shadow: 0px 3px 10px rgba(216, 231, 225, 0.842);
}

@media screen and (max-width: 800px) {
    .screen{
        display: block;
        height: 100px;
        line-height: 100px;
        margin: 30px 10px; 
        box-shadow: 0px 2px 10px rgba(216, 231, 225, 0.842);
    }
}

.legendavailable{
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    background-color: #30a860;
}

.legendreserved{
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    background-color: #fba504;
}

.legendoccupied{
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    background-color: #292964;
}

.header{
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 800;
    font-size: 36px;
}

@media screen and (max-width: 500px) {
    .header{
        padding-left: 12px;
        padding-top: 60px;
        font-size: 20px;
        font-weight: 800;
        width: 100%;
    }
}

.subheader{
    background-color: transparent;
    width: 48%;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 300;
    font-size: 16px;
    vertical-align: 25px;
    align-self: flex-start;
}

@media screen and (max-width: 500px) {
    .subheader{
        padding-left: 12px;
        font-size: 16px;
        width: 100%;
        margin-bottom: auto;
    }
}

.text-center h2{
    color: #000000;
}

@media screen and (max-width: 500px) {
    .nxt-b{
        padding-left: 12px;
    }
}

.path{
    background-color: transparent;
    width: 100%;
    margin-bottom: 20px;
    color: black;
    font-weight: 300;
    font-size: 12px;
    vertical-align: 25px;
    align-self: flex-start;
    color: #888888;
}

@media screen and (max-width: 500px) {
    .path{
        padding-left: 12px;
        padding-top: 20px;
    }
}

.path a{
    color: #888888;
    text-decoration: none;
}

.path a:link{
    color: #888888;
}

.path a:visited{
    color: #888888;
}

.path a:hover{
    color: #888888;
}